body {
background-color: lime;
}

.slide-down {
color: red;
font-size: 80px;
animation: slideDown 1.5s ease-out;
}
 
@keyframes slideDown {
from {
transform: translateY(-100px);
  opacity: 0;
}
 
to {
transform: translateY(0);
  opacity: 1;
  }
}
